/* View background */
/*
@holo-view-bottom-gradient-image: -webkit-gradient(linear, left top, left bottom, from(@holo-base-color), to(@holo-view-bottom-gradient-color));

@holo-view-bottom-gradient-image-gecko: -moz-linear-gradient(top, @holo-base-color 0%, @holo-view-bottom-gradient-color 100%);


.holoViewBottomGradient-styles () {
	background-color: @holo-base-color;
	background-image: @holo-view-bottom-gradient-image;
	
}
*/
/* dojox.mobile.Accordion */
.mblAccordion {
  border-style: outset;
  border-width: 1px;
  border-color: #8c8f91;
}
.mblAccordionRoundRect {
  margin: 7px 9px 16px 9px;
  padding: 0;
  border: 1px solid #33b5e5;
  border-radius: 8px;
}
.mblAccordionRoundRect .mblAccordionTitle:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.mblAccordionRoundRect .mblAccordionTitleLast,
.mblAccordionRoundRect .mblAccordionPane:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mblAccordionTitle {
  position: relative;
  height: 30px;
  width: 100%;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
  white-space: nowrap;
  border-top: 1px solid #8c8f91;
  background-image: mbl-button-background-image;
}
.mblAccordionTitle:first-child {
  border-top: none;
}
.mblAccordionTitleAnchor {
  display: block;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}
.mblAccordionIconParent {
  float: left;
  margin: 6px 4px 0 6px;
  line-height: normal;
}
.mblAccordionIconParent1 {
  display: block;
}
.mblAccordionIconParent2 {
  display: none;
}
.mblAccordionTitleSelected {
  border-bottom: 1px solid #8c8f91;
  background-image: mbl-button-checked-background-image;
  color: white;
}
.mblAccordionTitleSelected .mblAccordionTitleAnchor {
  color: white;
}
.mblAccordionTitleSelected .mblAccordionIconParent1 {
  display: none;
}
.mblAccordionTitleSelected .mblAccordionIconParent2 {
  display: block;
}
