/* View background */
/*
@holo-view-bottom-gradient-image: -webkit-gradient(linear, left top, left bottom, from(@holo-base-color), to(@holo-view-bottom-gradient-color));

@holo-view-bottom-gradient-image-gecko: -moz-linear-gradient(top, @holo-base-color 0%, @holo-view-bottom-gradient-color 100%);


.holoViewBottomGradient-styles () {
	background-color: @holo-base-color;
	background-image: @holo-view-bottom-gradient-image;
	
}
*/
/* dojox.mobile.Button */
.mblButton {
  padding: 0 10px;
  height: 29px;
  border-style: outset;
  border-width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cecece), color-stop(0.5, #f8f8f8), color-stop(0.5, #eeeeee));
  background-image: linear-gradient(to bottom, #fdfdfd 0%, #f8f8f8 50%, #eeeeee 50%, #cecece 100%);
  font-family: Helvetica;
  line-height: 29px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
  height: 40px;
  color: #ffffff;
}
.mblButtonSelected {
  color: #ffffff;
  border-color: transparent;
  background-image: none;
  background-color: #2C94BB;
  box-shadow: 0px 0px 1px 4px #1F5366;
}
.mblButtonDisabled,
.mblButton:disabled {
  border-color: grey;
  background-image: none;
  color: grey;
  cursor: default;
}
.mblBlueButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
  color: #ffffff;
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
  background-color: #0099CC;
}
.mblBlueButtonSelected {
  background-image: none;
}
.mblRedButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa9d58), to(#ee4115), color-stop(0.5, #ff4d25), color-stop(0.5, #ed4d15));
  background-image: linear-gradient(to bottom, #fa9d58 0%, #ff4d25 50%, #ed4d15 50%, #ee4115 100%);
  color: #ffffff;
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
  background-color: #CC0000;
}
.mblRedButtonSelected {
  background-image: none;
}
.mblButtonDisabled,
.mblButton:disabled {
  color: #646464;
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
  background-color: #212121;
}
.mblBlueButtonSelected {
  border-color: transparent;
  background-image: none;
  box-shadow: 0px 0px 1px 4px #33B5E5;
}
.mblRedButtonSelected {
  border-color: transparent;
  background-image: none;
  box-shadow: 0px 0px 1px 4px #FF4444;
}
