/* View background */
/* dojox.mobile.CheckBox */
.mblCheckBox {
  position: relative;
  margin: -0.5em 3px 0.3em 4px;
  width: 1em;
  height: 1em;
  border-style: outset;
  border-width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cecece), color-stop(0.5, #f8f8f8), color-stop(0.5, #eeeeee));
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-transform: translatey(0.45em);
  border-color: #5c5c5c;
  border-width: 1px;
  background-color: transparent;
  background-image: none;
  border-style: solid;
}
.mblCheckBoxSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
}
.mblCheckBoxChecked, .mblCheckBox:checked {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00a200), to(#00d300), color-stop(0.2, #00ba00), color-stop(0.2, #00ba00));
}
.mblCheckBoxChecked::after, .mblCheckBox:checked::after {
  position: absolute;
  content: "";
  width: 0.3em;
  height: 0.6em;
  top: 0;
  left: 0.3em;
  border-width: 0.15em;
  border-style: none solid solid none;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  border-color: white;
  background-color: transparent;
  background-image: none;
}
.mblCheckBoxChecked.mblCheckBoxSelected, .mblCheckBox:checked.mblCheckBoxSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
}
.mblCheckBoxChecked.mblCheckBoxSelected::after, .mblCheckBox:checked.mblCheckBoxSelected::after {
  background-color: transparent;
  background-image: none;
}
.mblCheckBox {
  background-image: none;
}
.mblCheckBox:disabled {
  border-color: #333333;
}
.mblCheckBoxSelected {
  background-image: none;
  border-color: #99BBCA;
  box-shadow: 0px 0px 1px 4px #1F5366;
  background-color: #1F5366;
}
.mblCheckBoxChecked, .mblCheckBox:checked {
  background-image: none;
}
.mblCheckBoxChecked.mblCheckBoxSelected, .mblCheckBox:checked.mblCheckBoxSelected {
  background-image: none;
  border-color: #99BBCA;
  box-shadow: 0px 0px 3px 4px #1F5366;
  background-color: #1F5366;
}
.mblCheckBox:checked::after {
  border-color: #61C6EB;
}
.mblCheckBox:disabled::after {
  border-color: #333333;
}
