/* View background */
html.mobile, .mobile body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  background-color: black;
  font-family: Helvetica;
  font-size: 17px;
  color: white;
}
/* Button Colors */
.mblColorBlue {
  color: white;
  background-color: #366edf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
}
.mblColorBlue45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
}
/* Default Button Colors */
.mblColorDefault {
  color: white;
  background-color: #333333;
  background-image: none;
}
.mblColorDefault45 {
  background-image: #333333;
}
.mblColorDefaultSel {
  color: white;
  background-color: #33b5e5;
  background-image: none;
}
.mblColorDefaultSel45 {
  background-image: #33b5e5;
}
.mblSpriteIcon {
  position: absolute;
}
.mblSpriteIconParent {
  position: relative;
  font-size: 1px;
}
.mblImageIcon {
  vertical-align: top;
}
