/* View background */
/*
@holo-view-bottom-gradient-image: -webkit-gradient(linear, left top, left bottom, from(@holo-base-color), to(@holo-view-bottom-gradient-color));

@holo-view-bottom-gradient-image-gecko: -moz-linear-gradient(top, @holo-base-color 0%, @holo-view-bottom-gradient-color 100%);


.holoViewBottomGradient-styles () {
	background-color: @holo-base-color;
	background-image: @holo-view-bottom-gradient-image;
	
}
*/
/* dojox.mobile.EdgeToEdgeList */
.mblEdgeToEdgeList {
  margin: 0;
  padding: 0;
}
.mblEdgeToEdgeList .mblListItem:last-child {
  border-bottom-color: #333538;
  margin-right: 7px;
  margin-left: 7px;
}
