/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.Heading */
.mblHeading {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  padding: 0;
  height: 42px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 44px;
  color: #ffffff;
  background-color: #000000;
  border-bottom-color: #33b5e5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-size: 18px;
  font-weight: normal;
}
.mblHeading * {
  z-index: 2;
}
.mblHeadingDivTitle {
  position: absolute;
  width: 100%;
  display: none;
  left: 0;
  z-index: 1;
}
.mblHeadingCenterTitle .mblHeadingDivTitle {
  display: block;
}
.mblHeadingCenterTitle .mblHeadingSpanTitle {
  display: none;
}
