@import url("../common/domButtons/DomButtonColorButtons-compat.css");

@import url("../common/domButtons/DomButtonBlackCircleCross-compat.css");
/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.IconContainer */
.mblIconItemPaneHeading {
  background-image: url(compat/icon-content-heading-bg.png);
}
.dj_gecko .mblIconItemPaneHeading {
  background-image: -moz-linear-gradient(top, #e0e4e7 0%, #c4ccd2 50%, #bfc8ce 50%, #b4bec6 100%);
}
.dj_ie7 .mblIconAreaInner {
  font-size: 60px;
}
