/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.Overlay */
.mblOverlay {
  text-align: center;
}
.dj_gecko .mblOverlay {
  text-align: -moz-center;
}
.dj_ie9 .mblOverlay > *,
.dj_ie8 .mblOverlay > * {
  margin: 0 auto;
}
.dj_ie6 .mblOverlay {
  *position: absolute;
}
