/* View background */
/*
@holo-view-bottom-gradient-image: -webkit-gradient(linear, left top, left bottom, from(@holo-base-color), to(@holo-view-bottom-gradient-color));

@holo-view-bottom-gradient-image-gecko: -moz-linear-gradient(top, @holo-base-color 0%, @holo-view-bottom-gradient-color 100%);


.holoViewBottomGradient-styles () {
	background-color: @holo-base-color;
	background-image: @holo-view-bottom-gradient-image;
	
}
*/
/* Progress Bar */
.mblProgressBar {
  background-color: #333333;
}
.mblProgressBarProgress {
  background-color: #33b5e5;
}
.dj_gecko .mblProgressBar {
  background-image: none;
  background-color: #333333;
}
.dj_gecko .mblProgressBarProgress {
  -moz-transition-property: width;
  -moz-transition-duration: 0.25s;
  background-image: none;
  background-color: #33b5e5;
}
