/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.RoundRectList */
.mblRoundRectList {
  margin: 7px 9px 16px;
  padding: 0;
  border: 1px solid #33b5e5;
  border-radius: 14px;
  background-color: transparent;
}
.mblRoundRectList .mblListItem:first-child,
.mblRoundRectList .mblEdgeToEdgeCategory:first-child {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.mblRoundRectList .mblListItem:last-child,
.mblRoundRectList .mblEdgeToEdgeCategory:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
