/* View background */
/*
@holo-view-bottom-gradient-image: -webkit-gradient(linear, left top, left bottom, from(@holo-base-color), to(@holo-view-bottom-gradient-color));

@holo-view-bottom-gradient-image-gecko: -moz-linear-gradient(top, @holo-base-color 0%, @holo-view-bottom-gradient-color 100%);


.holoViewBottomGradient-styles () {
	background-color: @holo-base-color;
	background-image: @holo-view-bottom-gradient-image;
	
}
*/
/* dojox.mobile.RoundRectList */
.mblRoundRectList {
  margin: 7px 9px 16px;
  padding: 0;
  border: 1px solid #adaaad;
  border-radius: 4px;
  background-color: transparent;
}
.mblRoundRectList .mblListItem:first-child,
.mblRoundRectList .mblEdgeToEdgeCategory:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mblRoundRectList .mblListItem:last-child,
.mblRoundRectList .mblEdgeToEdgeCategory:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
