/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.RoundRectCategory */
.mblRoundRectCategory {
  margin: 18px 0 0 20px;
  padding: 0;
  font-family: Helvetica;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
