/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.RoundRectList */
.dj_ff3 .mblRoundRectList {
  -moz-border-radius: 14px;
}
.dj_ff3 .mblRoundRectList .mblListItem:first-child {
  -moz-border-radius-topleft: 14px;
  -moz-border-radius-topright: 14px;
}
.dj_ff3 .mblRoundRectList .mblListItem:last-child {
  -moz-border-radius-bottomleft: 14px;
  -moz-border-radius-bottomright: 14px;
}
/* Round Corner */
.dj_ie .mblRoundRectList {
  position: relative;
}
.dj_ie .mblRoundCorner {
  background-color: transparent;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  border-style: solid;
  border-color: #33b5e5;
  border-width: 0 1px;
}
.dj_ie .mblRoundRectContainer {
  padding: 3px 8px;
  background-color: transparent;
  border-style: solid;
  border-color: #33b5e5;
  border-width: 0 1px;
}
.dj_ie .mblRoundRectList .mblRoundRectContainer {
  margin: 0;
  padding: 0;
}
.dj_ie .mblRoundCorner0T {
  height: 0;
}
.dj_ie .mblRoundCorner1T {
  background-color: #33b5e5;
  margin: 0 5px;
}
.dj_ie .mblRoundCorner2T {
  margin: 0 2px;
  border-width: 0 3px;
}
.dj_ie .mblRoundCorner3T {
  margin: 0 1px;
  border-width: 0 2px;
}
.dj_ie .mblRoundCorner4T {
  margin: 0 1px;
}
.dj_ie .mblRoundCorner5T {
  margin: 0 1px;
}
.dj_ie .mblRoundCorner0B {
  height: 0;
}
.dj_ie .mblRoundCorner1B {
  margin: 0 1px;
}
.dj_ie .mblRoundCorner2B {
  margin: 0 1px;
}
.dj_ie .mblRoundCorner3B {
  margin: 0 1px;
  border-width: 0 2px;
}
.dj_ie .mblRoundCorner4B {
  margin: 0 2px;
  border-width: 0 3px;
}
.dj_ie .mblRoundCorner5B {
  background-color: #33b5e5;
  margin: 0 5px;
}
