/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.Slider */
.mblSlider {
  background-image: url(compat/slider-h-bg.png);
  background-repeat: repeat-x;
}
.mblSliderProgressBar {
  background-image: url(compat/slider-h-bar-bg.png);
  background-repeat: repeat-x;
}
.mblSliderHandle {
  background-image: url(compat/slider-handle-bg.png);
}
.mblSliderV {
  background-color: #bdbebd;
  background-image: none;
}
.mblSliderV .mblSliderProgressBar {
  background-color: #00a200;
  background-image: none;
}
.dj_gecko .mblSlider {
  background-image: -moz-linear-gradient(top, #bdbebd 0%, #f7f3f7 100%);
  -moz-user-select: none;
  -moz-box-sizing: content-box;
}
.dj_gecko .mblSliderProgressBar {
  background-image: -moz-linear-gradient(top, #00a200 0%, #00ba00 20%, #00ba00 20%, #00d300 100%);
}
.dj_gecko .mblSliderHandle {
  background-image: -moz-linear-gradient(top, #9c9a9c 0%, #848284 100%);
}
.dj_ff3 .mblSlider {
  -moz-border-radius: 10em;
}
.dj_ff3 .mblSliderProgressBar {
  -moz-border-radius: 10em;
}
.dj_ff3 .mblSliderHandle {
  -moz-border-radius: 10em;
}
