@import "../common/domButtons/DomButtonWhiteCross-compat.css";
/* View background */
/*
@holo-view-bottom-gradient-image: -webkit-gradient(linear, left top, left bottom, from(@holo-base-color), to(@holo-view-bottom-gradient-color));

@holo-view-bottom-gradient-image-gecko: -moz-linear-gradient(top, @holo-base-color 0%, @holo-view-bottom-gradient-color 100%);


.holoViewBottomGradient-styles () {
	background-color: @holo-base-color;
	background-image: @holo-view-bottom-gradient-image;
	
}
*/
/* dojox.mobile.TabBar */
.dj_ie6 .mblTabBar .mblTabBarButton {
  display: inline;
}
/* barType="tabBar" */
.mblTabBarTabBar {
  background-image: none;
  background-color: #333333;
}
.dj_ff3 .mblTabBarTabBar .mblTabBarButtonSelected {
  -moz-border-radius: 3px;
}
/* barType="segmentedControl" | "standardTab" */
.mblTabBarSegmentedControl,
.mblTabBarStandardTab {
  background-image: url(compat/heading-bg.png);
}
.mblTabBarSegmentedControl .mblTabBarButton,
.mblTabBarStandardTab .mblTabBarButton {
  background-image: url(compat/tab-seg-button-bg.png);
}
.mblTabBarSegmentedControl .mblTabBarButtonSelected,
.mblTabBarStandardTab .mblTabBarButtonSelected {
  background-image: url(compat/tab-seg-sel-button-bg.png);
}
.dj_ff3 .mblTabBarSegmentedControl .mblTabBarButton:first-child {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
}
.dj_ff3 .mblTabBarSegmentedControl .mblTabBarButton:last-child {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}
.dj_ff3 .mblTabBarStandardTab .mblTabBarButton {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}
/* barType="slimTab" */
.mblTabBarSlimTab {
  background-image: url(compat/tab-slim-bar-bg.png);
}
.dj_gecko .mblTabBarSlimTab {
  background-image: -moz-linear-gradient(top, #2d2d2d 0%, #141414 50%, #000000 50%, #000000 100%);
}
.dj_gecko .mblTabBarSlimTab .mblTabBarButton {
  background-image: -moz-linear-gradient(top, #2d2d2d 0%, #141414 50%, #000000 50%, #000000 100%);
}
.dj_gecko .mblTabBarSlimTab .mblTabBarButtonSelected {
  background-image: -moz-linear-gradient(top, #313031 0%, #5a555a 50%, #616161 50%, #959595 100%);
}
/* barType="flatTab" */
/* barType="tallTab" */
.mblTabBarTallTab {
  background-image: url(compat/tab-tall-bar-bg.png);
}
.mblTabBarTallTab .mblTabBarButtonSelected {
  background-color: #8c8e8c;
}
