/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.TextArea */
.mblTextArea {
  padding: 4px 1px;
  border-width: 1px;
  border-style: inset;
  font-family: Helvetica;
  font-size: 13px;
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
  color: #ffffff;
  border-radius: 0;
  border-top-color: transparent;
  font-size: 17px;
}
/* dojox.mobile.ExpandingTextArea */
.mblExpandingTextArea {
  margin: 2px;
}
