/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.TextBox */
.mblTextBox {
  height: 22px;
  border-width: 1px;
  border-style: inset;
  font-family: Helvetica;
  font-size: 13px;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #33b5e5;
  border-width: 2px;
  font-size: 17px;
  border-style: solid;
  color: #ffffff;
}
.mblTextBox:disabled {
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #333333;
  border-width: 1px;
  font-size: 17px;
  border-style: solid;
}
