@import url("../common/transitions/slide.css");

@import url("../common/transitions/flip.css");

@import url("../common/transitions/fade.css");
/* Only the first color of Holo theme is used
@holo-color1d: #0099CC;
@holo-color2: #AA66CC;
@holo-color2d: #9933CC;
@holo-color3: #99CC00;
@holo-color3d: #669900;
@holo-color4: #FFBB33;
@holo-color4d: #FF8800;
@holo-color5: #FF4444;
@holo-color5d: #CC0000;
*/
/* dojox.mobile.View */
.mblView {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
}
.mblView.mblIn {
  position: absolute;
}
.mblFixedHeaderBar {
  z-index: 1;
}
.mblFixedBottomBar {
  position: absolute !important;
  width: 100%;
  z-index: 1;
}
